In [1]:
import psycopg2
import pandas as pd

In [24]:
def create_database():
    #connect to default db
    conn = psycopg2.connect("host=localhost dbname=postgres user=postgres password=postgres")
    conn.set_session(autocommit=True)
    cur = conn.cursor()
    
    #creating sparkify database with UTF8 encoding
    cur.execute("DROP DATABASE IF EXISTS accounts")
    cur.execute("CREATE DATABASE accounts")
    
    #Close the default database connection
    conn.close()
    
    #connect to sparkify database
    conn = psycopg2.connect("host=localhost dbname=accounts user=postgres password=postgres") 
    cur = conn.cursor()
    
    return cur,conn

In [25]:
def drop_tables(cur, conn):
    for query in drop_table_queries:
        cur.execute(query)
        conn.commit()

In [26]:
def create_tables(cur, conn):
    for query in drop_table_queries:
        cur.execute(query)
        conn.commit()

In [27]:
cur,conn = create_database()

In [28]:
lang_code_dataset = pd.read_csv(r"C:\Users\gajju\Downloads\Language code dataset\ietf-language-tags_csv.csv")

In [29]:
lang_code_dataset = lang_code_dataset[["lang", "langType", "territory", "defs", "file"]]

In [30]:
lang_code_dataset.head()

     lang langType territory  defs        file
0      af       af       NaN    10      af.xml
1   af-NA       af       NaN     2   af_NA.xml
2   af-ZA       af        ZA     0   af_ZA.xml
3     agq      agq       NaN     6     agq.xml
4  agq-CM      agq        CM     0  agq_CM.xml

In [31]:
language_codes_three_b_two = pd.read_csv(r"C:\Users\gajju\Downloads\Language code dataset\language-codes-3b2_csv.csv")

In [32]:
language_codes_three_b_two.head()

  alpha3-b alpha2    English
0      aar     aa       Afar
1      abk     ab  Abkhazian
2      afr     af  Afrikaans
3      aka     ak       Akan
4      alb     sq   Albanian

In [33]:
language_codes_full = pd.read_csv(r"C:\Users\gajju\Downloads\Language code dataset\language-codes-full_csv.csv")

In [34]:
language_codes_full.head()

  alpha3-b alpha3-t alpha2    English   French
0      aar      NaN     aa       Afar     afar
1      abk      NaN     ab  Abkhazian  abkhaze
2      ace      NaN    NaN   Achinese     aceh
3      ach      NaN    NaN      Acoli    acoli
4      ada      NaN    NaN    Adangme  adangme

In [35]:
lang_code_t1 = ("""CREATE TABLE IF NOT EXISTS lang_code_dataset (
               lang VARCHAR PRIMARY KEY, 
               langType VARCHAR,
               territory VARCHAR,
               defs INT,
               file VARCHAR)""")

cur.execute(lang_code_t1)
conn.commit()

In [36]:
lang_code_t2 = ("""CREATE TABLE IF NOT EXISTS language_codes_three_b_two (
               alpha_thri_b VARCHAR PRIMARY KEY, 
               alpha_two VARCHAR,
               English VARCHAR);""")

cur.execute(lang_code_t2)
conn.commit()

In [37]:
lang_code_t3 = ("""CREATE TABLE IF NOT EXISTS language_codes_full (
               alpha_three_b VARCHAR PRIMARY KEY, 
               alpha_thri_t VARCHAR,
               alpha_two VARCHAR,
               English VARCHAR,
               French VARCHAR);""")

cur.execute(lang_code_t3)
conn.commit()

In [38]:
lang_code_t1_insert = ("""INSERT INTO lang_code_dataset(
lang, 
langType,
territory,
defs,
file)
VALUES (%s,%s,%s,%s,%s)
""")

In [48]:
for i, row in lang_code_dataset.iterrows():
    cur.execute(lang_code_t1_insert,list(row))

In [49]:
conn.commit()

In [50]:
lang_code_t2_insert = ("""INSERT INTO language_codes_three_b_two(
alpha_thri_b, 
alpha_two,
English)
VALUES (%s,%s,%s)
""")

In [51]:
for i, row in language_codes_three_b_two.iterrows():
    cur.execute(lang_code_t2_insert,list(row))

In [52]:
conn.commit()

In [53]:
lang_code_t3_insert = ("""INSERT INTO language_codes_full(
alpha_three_b, 
alpha_thri_t,
alpha_two,
English,
French)
VALUES (%s,%s,%s,%s,%s)
""")

In [54]:
for i, row in language_codes_full.iterrows():
    cur.execute(lang_code_t3_insert,list(row))

In [55]:
conn.commit()